[submodule "ml"]
	path = ml
	url = https://github.com/fanton-dev/eleggo-ml
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/fanton-dev/eleggo-server
	branch = main
[submodule "hardware"]
	path = hardware
	url = https://github.com/fanton-dev/eleggo-hardware
	branch = main
